<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="/theme.css">
</head>

<body class="text-white">
<nav class="navbar navbar-expand-md">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbar6">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar6"><a class="navbar-brand text-white d-none d-md-block"
                                                              href="#">
            <b> LOST AND FOUND</b>
        </a>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link text-white" href="/">View Items</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-white" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style=""><img class="img-fluid d-block" src="/static/images/{{item-id}}.jpg"></div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="">Item Category:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="lead">{{item-category}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="">Time Found:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="lead">{{item-time-found}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="">Location:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="lead">{{item-location}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="">Description:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="lead">{{item-description}}</p>
            </div>
        </div>
        <div class="row">
            <form action="/item/{{item-id}}" method="post">
                <input type="text" name="reasonForRequest" class="form-control" id="reasonForRequest"
                       placeholder="Reason For Request">
                <button type="submit" class="btn btn-primary" contenteditable="true">Request Item</button>
            </form>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</div>
</body>

</html>